
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }



.first-slide-images .d-block{
    width: 100%;
    display: block !important;
    height: 200px;
    display: flex !important;
    object-fit: cover;
}

.first-slide-images{
    display: flex !important;
    flex-direction: row !important;
object-fit: cover;
}
.same-width-img-box{
    border: 1px solid yellow;
    display: flex !important;
    flex-direction: row !important;
}
.small-width-box{
    height: 200px;
    width: 12.5%;
}
.small-width-box img{
margin: 5px;
display: block;
width: 100%;
object-fit: cover;

}
.same-width-img-box{
    width: 75%;
 display: flex;
 justify-content: center;
    height: 200px;
    display: block;
    
}
.same-width-img{
    width: 270px;
}
.same-width-img img{
    display: block;
    width: 100%;
    object-fit: cover;
    padding: 10px;
  
}
/* 
.btn{
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-align-items: center !important;
    align-items: center !important; 
    position: relative!important;
    border: 2px solid #dc042a !important;
    font-size: 13px !important;
    text-transform: uppercase!important;
    padding: 8px 16px !important;
    background-color: #dc042a !important;
    cursor: pointer!important;
}
.btn::before{
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #fff !important;
    -webkit-transform-origin: 100% 0 !important;
    transform-origin: 100% 0 !important;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: -webkit-transform .4s !important;
    transition: -webkit-transform .4s !important;
    transition: transform .4s !important;
    transition: transform .4s,-webkit-transform .4s !important;

}
.btn>.text{
    position: relative;
    color: #fff;
    background-image: -webkit-linear-gradient(left,#dc042a,#dc042a 50%,#fff 0,#fff);
    background-image: linear-gradient(
90deg
,#dc042a,#dc042a 50%,#fff 0,#fff);
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-transition: background-position .4s;
    transition: background-position .4s;
}
.btn:hover {
    color: rgb(33, 37, 41) !important;
    text-decoration: none !important;
} */

.other-social{
    display: flex;
    align-items: center;
}
.facebook{
    border: none;
    margin:10px;
    background:#4c69ba;
    border: none;
    border-radius: 3px;
}

 .facebook-logo-button,.google-logo-button{
     display: inline;
     justify-content: center;
     align-items: center;
     text-align: center;
     /* margin: 10px; */
 }
.fa-facebook{
    color: #fff; 
}.password-sub-content{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex:wrap;
}
.change-psw-link{
    color:#dc042a;
    display: block;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
}
.remember-text{
    color:#dc042a;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
    padding-left: 5px;
}
.change-psw-link:hover{
    text-decoration: none;
    color: #000;
}
.other-social{
    margin: 10px;
}
.facebook-logo-button{
    border: none;
    background-color: #4c69ba;
    border-radius: 3px;
    display: inline-flex;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    
}
.google-logo-button{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-left: 10px;

}
.facebook-logo-button a{
    color:#fff;
    font-weight: 600;
    font-size: 14px; 
    padding: 3px;
   
}
.facebook-logo-button a:hover{
    color:#fff;
    text-decoration: none;
}
.google-logo-button a{
   color: rgba(0, 0, 0, 0.54);
   font-weight: 600;
   font-size: 14px;
   padding: 3px;
}
.google-logo-button a:hover{
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
}

/* password toggling styling*/
*,*::before,*::after{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Ubuntu', sans-serif !important;
}
/*login,signin form password toggling  styling end here*/
.navbar-brand{
    margin-left: 8% !important;
}
nav .collapse{
    position: absolute;
    right:8%!important;
}
.fixed-top{
    background-color: #dc042a !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    
}
.space-around{
    display: flex !important;
    justify-content: space-around !important;
}
.nav-item{
    padding: 6px;
}
.nav-link{
    color:#fff !important;
    font-size: 18px !important;
    font-family: Ubuntu,sans-serif;
    padding: 5px;
}

.signup-box{
    background-color: #fff;
    /* height: 30px; */
}
.signup-link{
    color: rgb(220, 4, 42) !important;
    /* padding: 4px !important; */
}

/* header styling end */
.ordering-heading-contents{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.ordering-heading-main,.ordering-heading-sub{
    display: block;
    font-size: 50px;
    font-family: Ubuntu,sans-serif;
    color:#383838;
}
.ordering-form-div{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.ordering-from-text{
    font-size: 18px;
    font-family: Ubuntu,sans-serif;
    color:#383838;
    font-weight:600;
    font-style:normal;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* styling of order input start */
.input-content{
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.first-select{
    display: block;
}
.second-select{
    display: block;
    margin-top: 4%;
}

select{
    width: 400px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(245, 245, 245);  
    color:rgb(182, 165, 165); 
    border:1p solid rgb(182, 165, 165);
    border-radius: 3px;
    line-height: 27px;
    font-family: Ubuntu,sans-serif;
  
}
select:focus{
    outline-color: #dc042a;
}

select option{
    color:#dc042a;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

}
.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* styling of order input end */
/* styling of how it works start */

.line{
    background-color: rgb(220, 4, 42);
}
.how-it-works-heading{
    margin-top:7%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #383838;
    font-size:50px;   
}
.location-img{
    width: 255px;
    display: block;
    height: 255px;
}
.select-location,.choose-meal,.delivery{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.location-heading,.meal-heading,.delivery-heading{
color:#dc042a;
font-size: 24px;
font-family: Ubuntu,sans-serif;
font-weight:600;
font-style:normal;
font-variant:normal;
padding-top: 10px;
text-align: center;
}

.location-paragraph,.meal-paragraph,.delivery-paragraph{
     color:rgb(56, 56, 56);
font-size: 18px;
font-family: Ubuntu,sans-serif;
font-weight:400;
font-style:normal;
font-variant:normal;
padding-top: 10px
}
.location-img,.meal-img,.delivery-img{
    height: 255px;
    width: 255px;
}
/* styling of how it works end */
/* styling of app-store div start*/
.app-store-container{
    background-color: rgb(220, 4, 42);
    margin-top: 12%;
}
.app-store-text{
    color: #fff;
    font-size: 18px;
    font-family: Ubuntu,serif;
    line-height: 27px;
    font-weight: 400;
   display: block;
    width: 98%;
}
.app-store-text-div{
    margin-top: 5%;
    margin-bottom: 5%;

}
.appstore-images-link{
    display: inline-block;
}
.app-store-img{
    height: 50px;
}
.app-store{
    margin-left: 10px;
}
/* styling of app-store div end*/
footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
}
footer span a{
    color:#fff;
    padding: 5px;
}

footer span a:hover{
    color:#fff;
    text-decoration: none;
}
.social-media-div a{
    padding: 10px;
    /* flex:wrap; */
}

/* ===================MEDIA QUERIES START HERE=================== */
@media screen and (max-width:991px){
    button:focus{
        outline: none !important;
    }
    .navbar-light .navbar-toggler{
        border-color: none !important;
        color: none !important;
    }
    .collapse{
        position: static !important;
    }
    .signup-box{
        width: 130px;
    }
    .location-img,.meal-img,.delivery-img{
        height: 170px;
        width: 200px;
    }
    .app-store-img{
        height: 30px;
    }
    /* .copyright{
        text-align: center;
    } */
}

@media screen and (max-width:767px){
    .ordering-heading-main,.ordering-heading-sub{
        font-size: 36px;
    }
    .line{
        margin-top: 10%;
    }
.location-img,.meal-img,.delivery-img{
    height: 170px;
    width: 200px;
}
.copyright{
    padding-top:20px;
    padding-bottom:20px;
}
.social-media-div a{
    padding:4px;
}
footer{
    text-align: center;
}
footer span{
    padding: 10px;
}
.social-img{
    height: 15px;
}
}


@media  screen and (max-width:425px) {
    .restaurant-logo{
        height: 37px;
    }
    select{
        width: 200px;
    }
    .first-select{
        margin-bottom: 5%;
    }

}

@media  screen and (max-width:375px) {
    .ordering-heading-main,.ordering-heading-sub{
        font-size: 24px;
    }
    .app-store-text{
        font-size: 15px;
    }

}

/* career us styling start here*/
.career-heading-text{
    color: #dc042a;
    font-weight: 700;
    margin-bottom: 25px;
}
.career-paragraph{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color:#383838;
    line-height: 1.5;
}
.mail-link{
    display: block;
}

.testimonial-div{
    border:1px solid #dc042a;
    display: flex;
    flex-direction: column;
    background-color: #ffe6ea;
    height: 100px;
    border-radius: 5px;
    padding:10px;
}
.testimony-text{
    padding-top: 5px;
    padding-left: 10px;
     color:#383838;
     font-size: 15px;
}
.testimonier{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}
.training-heading{
    color: #dc042a;
    font-weight: 700;
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 25px;
}
.training-Dev-first-text{
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 20px;
text-align: left;
}
.training-Dev-second-text{
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: left;
}
@media screen and (max-width:425px){
    .career-paragraph,.training-Dev-first-text,.training-Dev-second-text{
        font-size: 15px;
    }
}
@media screen and (max-width:320px){
        .restaurant-logo{
            height: 30px;
        }
}
/* career us styling end here */
/* ===================MEDIA QUERIES START HERE=================== */


/* login and signin styling start here*/
.signin-form input[type="email"]{
    padding:2px;
    width:100%;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #000; 
}
.signin-form input[type="email"],input[type="text"]:focus{
    outline-color: #dc042a;
}
.signin-form label{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color:#212529;
    width: 100%;
    padding: 5px;
}
.input-group{
    width: 60% !important;
}
.input-container input,.create-accpsw input{
    padding:2px;
    width:100%;
    border:0;
    font-size: 16px;
    border-radius: 3px;
    color:#000;

}

.create-account-form input[type="text"],.create-account-form  input[type="number"]{
    border-radius: 3px;
}
.input-container input[type="password"]:focus,input[type="password"]:focus,input[type="number"]:focus{
        outline-color: #dc042a;
       
}

.input-container,.create-accpsw{
    width: 100%;
    display:flex;
    align-items: center;
    border: 1px solid #aaa; 
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
i{
    margin: 0 10px;
    color:#dc042a;
    cursor: default;
    position: absolute;
    right: 3%;
}
.create-account-form input[type="text"],input[type="number"]{
    width: 100%;
    padding:2px;

}
.or-sign-with-text{
    color:#212529;;
    display: block;
}
.or-box{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.or-line{
    border-left: 2px solid #dc042a;
    height: 330px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.circle{
    height:30px;
    width: 30px;
    border: 2px solid #dc042a;
    border-radius: 50%;
    position:absolute;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle span{
    color: #dc042a;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.signin-and-login-form{
    margin-top: 13%;
}
    .signin-heading{
        color:#dc042a;
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }
    .signin-greeting{
        color:#7f7f7f;
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;

    }

    @media screen and (max-width:991px){
            .signin-and-login-form{
                margin-top: 20%;
            }
            .ordering-heading-contents{
                margin-top: 20%;
            }
    }
    @media screen and (max-width:767px){
        .or-box{
            display: none;
        }
        .register-form{
            margin-top: 5%;
        }
    }
    @media only screen and  (max-width: 576px){
.signin-heading {
    font-size: 30px;
} 
.header-background,.career-background,.about-background{
        height: 50vh;
}
  footer{
            margin-top: 0;
}
}
@media screen and (max-width:425px){
    .signin-and-login-form{
        margin-top: 30%;
    }
    .ordering-heading-contents{
        margin-top: 30%;
    }
  
}
   


/* login and signin styling end here */
/* ===================MEDIA QUERIES START HERE=================== */

