*,*::before,*::after{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/* header styling start*/
.collapse{
    position: absolute;
    right:0%!important;
}
.nav-bg{
    background-color: rgb(220, 4, 42) !important;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav-item{
    padding: 6px;
}
.nav-link{
    color:#fff !important;
    font-size: 18px !important;
    font-family: Ubuntu,sans-serif;
    padding: 5px;
}

.signup-box{
    background-color: #fff;
    /* height: 30px; */
}
.signup-link{
    color: rgb(220, 4, 42) !important;
    /* padding: 4px !important; */
}


/* header styling end */
.ordering-heading-contents{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.ordering-heading-main,.ordering-heading-sub{
    display: block;
    font-size: 50px;
    font-family: Ubuntu,sans-serif;
    color:#383838;
}
.ordering-form-div{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.ordering-from-text{
    font-size: 18px;
    font-family: Ubuntu,sans-serif;
    color:#383838;
    font-weight:600;
    font-style:normal;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
}

/* styling of order input start */
.input-content{
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.first-select{
    display: block;
}
.second-select{
    display: block;
    margin-top: 4%;
}

select{
    width: 400px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(245, 245, 245);  
    color:rgb(182, 165, 165); 
    border:1p solid rgb(182, 165, 165);
    border-radius: 3px;
    line-height: 27px;
    font-family: Ubuntu,sans-serif;
}

/* styling of order input end */
/* styling of how it works start */

.line{
    background-color: rgb(220, 4, 42);
}
.how-it-works-heading{
    margin-top:7%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #383838;
    font-size:50px;   
}
.location-img{
    width: 255px;
    display: block;
    height: 255px;
}
.select-location,.choose-meal,.delivery{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.location-heading,.meal-heading,.delivery-heading{
color:#dc042a;
font-size: 24px;
font-family: Ubuntu,sans-serif;
font-weight:600;
font-style:normal;
font-variant:normal;
padding-top: 10px;
text-align: center;
}

.location-paragraph,.meal-paragraph,.delivery-paragraph{
     color:rgb(56, 56, 56);
font-size: 18px;
font-family: Ubuntu,sans-serif;
font-weight:400;
font-style:normal;
font-variant:normal;
padding-top: 10px
}
.location-img,.meal-img,.delivery-img{
    height: 255px;
    width: 255px;
}
/* styling of how it works end */
/* styling of app-store div start*/
.app-store-container{
    background-color: rgb(220, 4, 42);
    margin-top: 12%;
}
.app-store-text{
    color: #fff;
    font-size: 18px;
    font-family: Ubuntu,serif;
    line-height: 27px;
    font-weight: 400;
   display: block;
    width: 98%;
}
.app-store-text-div{
    margin-top: 5%;
    margin-bottom: 5%;

}
.appstore-images-link{
    display: inline-block;
}
.app-store-img{
    height: 50px;
}
.app-store{
    margin-left: 10px;
}
/* styling of app-store div end*/
footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;
}
.social-media-div a{
    padding: 10px;
}

/* ===================MEDIA QUERIES START HERE=================== */
@media screen and (max-width:991px){
    .collapse{
        position: static !important;
    }
    .signup-box{
        width: 130px;
    }
    .location-img,.meal-img,.delivery-img{
        height: 170px;
        width: 200px;
    }
    .app-store-img{
        height: 30px;
    }
    .copyright{
        text-align: center;
    }
}


@media screen and (max-width:768px){
  
}

@media screen and (max-width:767px){
    .ordering-heading-main,.ordering-heading-sub{
        font-size: 36px;
    }
    .line{
        margin-top: 10%;
    }
.location-img,.meal-img,.delivery-img{
    height: 170px;
    width: 200px;
}
.copyright{
    padding-top:20px;
    padding-bottom:20px;
}
.social-media-div a{
    padding:4px;
}
footer{
    text-align: center;
}
footer span{
    padding: 10px;
}
.social-img{
    height: 15px;
}
}


@media  screen and (max-width:425px) {
    select{
        width: 200px;
    }
    .first-select{
        margin-bottom: 5%;
    }

}

@media  screen and (max-width:375px) {
    .ordering-heading-main,.ordering-heading-sub{
        font-size: 24px;
    }
    .app-store-text{
        font-size: 15px;
    }

}

/* ===================MEDIA QUERIES START HERE=================== */


